:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background-color: #e0e0e0; 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; 
}